body {
	background-color:#eee;
}

header {
	background-color: #1e2939;
	border-radius: 20px;
	width: 100%;
}

header h1 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Trebuchet MS;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 13px;
	font-family: arial;
}

.container {
	width: 100%;
	display: flex;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.left-side {
	width: 50%;
}

.right-side {
	width: 50%;
}

.msj {
	color: #1e2939;
	font-size: 20px;
	font-family: arial;
} 

.accent {
	color: #21A69A;
}

.inputTexto {
	width: 70%;
	height: 30%;
	font-size: 15px;
	padding: 12px;
}

.textarea {
	width: 70%;
	height: 30%;
	padding: 12px;
	overflow: visible;
	resize: none;
	font-size: 15px;
	font-family: arial;
}

.boton {
	background: transparent;
	border: 2px solid #21A69A;
	border-radius: 6px;
	color: #1e2939;
	font-size: 15px;
	padding: 7px 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
}

.boton:hover {
	background-color: #21A69A;
	color: #fff;
}